$input-btn-focus-width: 0rem !default;

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global styles */
.btn-lg{
  font-size:21px!important;
  min-width: 100px!important;
}
.fs-18{
  font-size:18px;
}
.fs-20{
  font-size:20px;
}

/* Home styles */
#home-wrapper{
  margin-top: -100px;
}
#home-wrapper .row-one{
  margin-top: 80px;
  padding:0 25px 0 25px;
}
#home-wrapper .row-two{
  margin-top:70px;
}
#home-wrapper .col-style{
  text-align: center;
  font-size:25px;
}

/* Quiz styles */
#quiz-wrapper{
  margin-top: -80px;
}
#quiz-wrapper .custom-card-size{
  max-width: 500px;
  height:550px;
}

/* Results styles */
.check{
  color:green;
  font-size:25px;
}
.cross{
  color: red;
  font-size:25px;
}

/* Small screens */
@media screen and (max-height: 800px) {
  #home-wrapper{
    margin-top: -20px!important;
  }
  #quiz-wrapper{
    margin-top: -10px!important;
  }
}
@media screen and (max-width: 600px) {
  #quiz-card{
    border:none!important;
  }
}

/* Touch screens */
@media (hover: none) and (pointer: coarse) {
  #quiz-btn-false:hover {
    background-color: transparent!important;
    color: #d9534f;
  }
  #quiz-btn-true:hover {
    background-color: transparent!important;
    color:#198754;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";